<div class='col-10 offset-1 about'>
    <h1>About Splurty</h1>
    
    <p>
        Splurty was created by Azat Faizullin
    </p>
    
    <br />
    <p>
        This is his first Web App ever. :)
    </p>
    
    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'azat.jpg', class: 'img-fluid' %>
        </div>
        
        <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class='text-center'>Azat Faizullin</h2>
            <br />
            <p class='text-center'>
                Azat Faizullin is an aspiring Web Developer.
            </p>
        </div>
    </div>
    
    <br class='clear' />
    <br/>
    <br/>
    <br/>
    <br/>
    
    
    
</div>